/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  margin: 0;
}


.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}


mat-drawer {
  width: 200px;
}


.content {
  height: 100%;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.mcl {
  vertical-align: super !important;
  font-size: 1rem;
}


mat-card.disabled {
  opacity: .2;
}
